<!doctype html>
<html amp lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="manifest" href="/manifest.json">
  <link rel='icon' href='/img/favicon.ico' />
  <link rel="canonical" href="<%= htmlWebpackPlugin.options.canonicalUrl %>" >
  <meta name="robots" content="index,follow" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
  <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>" />
  <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
  <meta property='og:image' content="<%= htmlWebpackPlugin.options.ogImage %>" />
  <meta property='og:image:alt' content="<%= htmlWebpackPlugin.options.ogImageAlt %>" />
  <meta property='og:url' content="<%= htmlWebpackPlugin.options.ogUrl %>" />
  <meta property='og:title' content="<%= htmlWebpackPlugin.options.ogTitle %>"  />
  <meta property='og:description' content="<%= htmlWebpackPlugin.options.ogDescription %>" />
  <meta property='og:type' content="<%= htmlWebpackPlugin.options.ogType %>" />
  <meta property='fb:app_id' content="<%= htmlWebpackPlugin.options.ogFbAppId %>" />
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "Open-source framework for publishing content",
      "datePublished": "2015-10-07T12:02:41Z",
      "image": [
        "logo.jpg"
      ]
    }
  </script>
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "<%= htmlWebpackPlugin.options.adsensePubId %>",
            enable_page_level_ads: true
      });
  </script>
</head>
<body>
  <noscript>
    <h1>Please enable Javascript to continue</h1>
  </noscript>
  <div id="root"></div>
</body>
</html>
