<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="manifest" href="/manifest.json">
  <link rel='icon' href='/img/favicon.ico' />
  <link rel="canonical" href="<%= htmlWebpackPlugin.options.canonicalUrl %>" >
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500" rel="stylesheet">
  <meta name="robots" content="index,follow" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
  <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>" />
  <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
  <meta property='og:image' content="<%= htmlWebpackPlugin.options.ogImage %>" />
  <meta property='og:image:alt' content="<%= htmlWebpackPlugin.options.ogImageAlt %>" />
  <meta property='og:url' content="<%= htmlWebpackPlugin.options.ogUrl %>" />
  <meta property='og:title' content="<%= htmlWebpackPlugin.options.ogTitle %>"  />
  <meta property='og:description' content="<%= htmlWebpackPlugin.options.ogDescription %>" />
  <meta property='og:type' content="<%= htmlWebpackPlugin.options.ogType %>" />
  <meta property='fb:app_id' content="<%= htmlWebpackPlugin.options.ogFbAppId %>" />
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "<%= htmlWebpackPlugin.options.adsensePubId %>",
            enable_page_level_ads: true
      });
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113469131-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '<%= htmlWebpackPlugin.options.googleAnalyticsId %>');
  </script>
  <script async type='text/javascript' src='https://cse.google.com/cse.js?cx=<%= htmlWebpackPlugin.options.googleSearchbarId %>'></script>
</head>
<body>
  <noscript>
    <h1>Please enable Javascript to continue</h1>
  </noscript>
  <div id="root"></div>
</body>
</html>
